# EditorConfig helps maintain consistent coding styles across different editors and IDEs\n# https://editorconfig.org/\n\nroot = true\n\n[*]\ncharset = utf-8\nend_of_line = crlf\ninsert_final_newline = true\ntrim_trailing_whitespace = true\n\n[*.ps1]\nindent_style = space\nindent_size = 4\nmax_line_length = 100\n\n[*.md]\nindent_style = space\nindent_size = 2\nmax_line_length = 120\n\n[*.json]\nindent_style = space\nindent_size = 2\n\n[*.bat]\nindent_style = space\nindent_size = 4\n\n[*.yml]\nindent_style = space\nindent_size = 2\n\n[.gitignore]\nindent_style = space\nindent_size = 0\n"